html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
    }

.swiper-button-next, .swiper-container-rtl  {
   transform: rotate(-90deg);
    right: 47%;
    left: auto;
    position: absolute;
    top:90%;
    width: 25px;height: 25px;
    animation: jt 2s infinite;
}
@keyframes jt{
    0%{
        top:88%;
        opacity: 1;
    }
    100%{
        top: 85%;
        opacity: 0;
    }
}

.s1,.s2,.s3,.s4,.s5,.s6{
    background: url(../img/66.jpg);
    height: 100%;
    background-size:cover;
}
.s1 img:nth-of-type(1){
    width: 90%;
    position: absolute;
    top: 2%;
    right:60%;animation: rotateOut infinite;
}
.s1 img:nth-of-type(2){
    width: 100%;
    position: absolute;
    top: 45%;right:1%;
}
.s1 .header{
    position: absolute;
    width: 100%;top: 10%;
}
.s1 .header p{
    color:#33CCCC;
    font-weight: bold;
    font-size: 35px;
    border-bottom:1px solid #fff;
    border-top:1px solid #fff;
    text-align: center;
    font-family: 楷体;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    animation: shan 4.5s;
    animation-iteration-count: infinite;
}
@keyframes shan{
			0%{
				color:red;
			}
			20%{
				color:orange;
			}
			40%{
				color:purple;
			}
			80%{
				color:blue;
			}
			100%{
				color:green;
			}
		}
.s1 .main img:nth-of-type(1){
    width: 29%;height: 22%;
    position: absolute;
    top:36%;
    left:24%;
    animation: swing infinite;
}
.s1 .main img:nth-of-type(2){
    width: 16%;
    position: absolute;
    top:36%;
    left:58%;
    animation: pulse infinite;
}
.s1 .main img:nth-of-type(3){
    width: 18%;
    position: absolute;
    top:49%;
    left:57%;
    animation: pulse infinite;
}
.s1 .footer span:nth-of-type(1){
    color:#fff;

    font-size: 20px;
   position: absolute;
    top: 73%;left: 20%;
    letter-spacing:2px
}
.s1 .footer span:nth-of-type(2){
    color:#fff;

    font-size: 20px;
    position: absolute;
    left:33%;top: 77%;
     letter-spacing:2px;
}
.s2 .title img:nth-of-type(1){
    width: 90%;
    position: absolute;
    top: 2%;
    right:60%;animation: rotateOut infinite;
}
.s2 .title img:nth-of-type(2){
    width: 100%;
    position: absolute;
    top: 45%;right:1%;
}
.s2 .header h3{
    position: absolute;
    color:aqua;
    left:33%;
    top:5%;
    font-size:30px;
    font-family: 宋体;
    letter-spacing:7px
}
.s2 .header span{
    color:aqua;
    font-size: 11px;
    position: absolute;
    top:15%;left:35%;
    letter-spacing:2px
}
.s2 .header img:nth-of-type(1){
    position: absolute;
    top: 11%;
    left: 19%;
}
.s2 .header img:nth-of-type(2){
    position: absolute;
    top: 11%;
    right:16%
}
/*
.s2 .main img:nth-of-type(1){
    width: 40%;
    position: absolute;
    top: 20%;
    left: 30%;
}
*/
.s2 .main img:nth-of-type(1){
    position: absolute;
    left:12%;
    top: 22%;
    width: 81%;
}
.s2 .main img:nth-of-type(2){
    width: 79%;
    height: 25%;
    position: absolute;
    top: 23%;
    left: 13%;
    border-radius: 10px;
   
}

/*
@keyframes zhuano{
    0%{
        transform: rotate(-8deg);
    }
    50%{
        transform: rotate(3deg)
    }
    100%{
        transform: rotate(-13deg)
    }
}
*/

.s2 .main .text{
    color:#fff;
    font-size: 15px;
    text-align: left;
    position: absolute;
    line-height: 10px;
    top: 53%;
    left: 11%;
}
.s3 .title img:nth-of-type(1){
    opacity: 0.2;
    position: absolute;
    top: 75%;left: 5%;
}
.s3 .title img:nth-of-type(2){
    width: 100%;
    position: absolute;
    top: 45%;right:1%;
}
.s3 .title img:nth-of-type(3){
    width:15%;
    position: absolute;
    top: 20%;right:15%;
    opacity: 0.1;
}
.s3 .header h3{
    position: absolute;
    color:aqua;
    left:33%;
    top:5%;
    font-size:30px;
    font-family: 宋体;
    letter-spacing:7px
}
.s3 .header span{
    color:aqua;
    font-size: 11px;
    position: absolute;
    top:15%;left:35%;
    letter-spacing:2px
}
.s3 .header img:nth-of-type(1){
    position: absolute;
    top: 11%;
    left: 19%;
}
.s3 .header img:nth-of-type(2){
    position: absolute;
    top: 11%;
    right:16%
}
.s3 .main img{
    position: absolute;
    top:25%;left: 45%;
}
.s3 .main .text p{
    color:#fff;
    font-size: 15px;
}
.s3 .main .text p:nth-of-type(1){
    position: absolute;
    top:28%;
    left:24%;
}
.s3 .main .text p:nth-of-type(2){
    position: absolute;
    top:37%;
    left:24%;
}
.s3 .main .text p:nth-of-type(3){
    position: absolute;
    top:44%;
    left:30%;
}
.s3 .main .text p:nth-of-type(4){
    position: absolute;
    top:51%;
    left:22%;
}
.s3 .main .text p:nth-of-type(5){
    position: absolute;
    top:58%;
    left:30%;
}
.s4 .title img:nth-of-type(1){
    width: 90%;
    position: absolute;
    top: 5%;
    right:40%;animation: rotateOut infinite;
}
.s4 .title img:nth-of-type(2){
    width: 90%;
    position: absolute;
    top: 15%;
    left:40%;animation: rotateOut infinite;
}
.s4 .title img:nth-of-type(3){
    width: 100%;
    position: absolute;
    top: 45%;right:1%;
}
.s4 .header h3{
    position: absolute;
    color:aqua;
    left:33%;
    top:5%;
    font-size:30px;
    font-family: 宋体;
    letter-spacing:7px
}
.s4 .header span{
    color:aqua;
    font-size: 11px;
    position: absolute;
    top:15%;left:35%;
    letter-spacing:2px
}
.s4 .header img:nth-of-type(1){
    position: absolute;
    top: 10%;
    left: 19%;
}
.s4 .header img:nth-of-type(2){
    position: absolute;
    top: 10%;
    right:16%
}
.s4 .main p{
    color:aliceblue;
    font-size: 16px;
    text-align: left;
}
.s4 .main p:nth-of-type(1){
    position: absolute;
    top: 17%;
    left: 10%;
}
.s4 .main p:nth-of-type(2){
    position: absolute;
    top: 21%;
    left: 18%;
}
.s4 .main p:nth-of-type(3){
    position: absolute;
    top: 24%;
    left: 18%;
}
.s4 .main p:nth-of-type(4){
    position: absolute;
    top: 27%;
    left: 18%;
}
.s4 .main p:nth-of-type(5){
    position: absolute;
    top: 30%;
    left: 18%;
}
.s4 .main p:nth-of-type(6){
    position: absolute;
    top: 33%;
    left: 18%;
}
.s4 .main p:nth-of-type(7){
    position: absolute;
    top: 36%;
    left: 18%;
}
.s4 .main p:nth-of-type(8){
    position: absolute;
    top: 39%;
    left: 18%;
}
.s4 .main p:nth-of-type(9){
    position: absolute;
    top: 43%;
    left: 18%;
}
.s4 .main p:nth-of-type(10){
    position: absolute;
    top: 46%;
    left: 18%;
}
.s4 .main p:nth-of-type(11){
    position: absolute;
    top: 49%;
    left: 18%;
}
.s4 .main p:nth-of-type(12){
    position: absolute;
    top: 52%;
    left: 18%;
}
.s4 .main p:nth-of-type(13){
    position: absolute;
    top: 55%;
    left: 18%;
}
.s4 .main p:nth-of-type(14){
    position: absolute;
    top: 59%;
    left: 18%;
}
.s4 .main p:nth-of-type(15){
    position: absolute;
    top: 62%;
    left: 18%;
}
.s4 .main p:nth-of-type(16){
    position: absolute;
    top: 65%;
    left: 18%;
}
.s4 .main p:nth-of-type(17){
    position: absolute;
    top: 68%;
    left: 18%;
}
.s4 .main p:nth-of-type(18){
    position: absolute;
    top: 71%;
    left: 18%;
}
.s5 .title img{
    position: absolute;
    width: 100%;
    top: 45%;
    left: 1%;
}
.s5 .header h3{
    position: absolute;
    color:aqua;
    left:33%;
    top:5%;
    font-size:30px;
    font-family: 宋体;
    letter-spacing:7px
}
.s5 .header span{
    color:aqua;
    font-size: 11px;
    position: absolute;
    top:16%;left:34%;
    letter-spacing:2px
}
.s5 .header img:nth-of-type(1){
    position: absolute;
    top: 10%;
    left: 19%;
}
.s5 .header img:nth-of-type(2){
    position: absolute;
    top: 10%;
    right:16%
}
.s5 .main img{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 81%;
    height: 62%;
}
.s5 .main input:nth-of-type(1){
    position: absolute;
    top: 26%;
    left: 18%;
    width: 65%;
    height: 5%;
    border:2px solid aqua;
}
.s5 .main input:nth-of-type(2){
    position: absolute;
    top: 33%;
    left: 18%;
    width: 65%;
    height: 5%;
    border: 2px solid aqua;
}
.s5 .main input:nth-of-type(3){
    position: absolute;
    top: 40%;
    left: 18%;
    width: 65%;
    height: 5%;
    border:2px solid aqua;
}
.s5 .main button{
    position: absolute;
    top: 49%;
    left: 18%;
    width: 66%;
    height: 7%;
    background: aqua;
}
.footer img{
    position: absolute;
    top: 58%;
    left: 40%;
    width: 24%;
}
.footer p{
    color:aliceblue;
    position: absolute;
    top: 72%;
    left: 30%;
}














