*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

    }
.swiper-button-next, .swiper-container-rtl  {
   transform: rotate(90deg);
    right: 50%;
    left: auto;
    position: absolute;
    top:650px;
}
.s1{
    background: url(../img/bj.png);
    width: 100%;height: 100%;
}
.s1 .header img:nth-of-type(1){
    width: 32px;
    position: absolute;
    top:126px;
    left:50px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(2){
    width: 65px;
    position: absolute;
    top:90px;
    left:275px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(3){
    width: 55px;
    position: absolute;
    left:34px;
    top:430px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(4){
    width: 55px;
    position: absolute;
    right:50px;
    top:410px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(5){
    width:70%;
   position:relative;
    top:150px;
    animation:pulse infinite;
}
.main img:nth-of-type(1){
    width: 40%;
    position: relative;
}
.main img:nth-of-type(2){
    position: relative;
    width: 80%;
}
.main img{
    position: relative;
    top:-100px;
}
.main .img9{
    color:#000;
    font-size: 18px;
    position: absolute;
    top:340px;
    left:100px;
    background: url(../img/9.png);
    background-size:contain;
    width: 206px;
    font-weight: bold;
    
}
.footer{
    padding:60px;
}
.footer p{
    color:#0dae9c;
    font-weight: bold;
}
.img10 img:nth-of-type(1){
    width: 100%;height: 70px;
    position: absolute;
    top:640px;
    left:20px;
    animation: shake infinite;
}
.img10 img:nth-of-type(2){
    width: 100%;height: 70px;
    position: absolute;
    top:640px;
    left:-40px;
    animation: shake infinite;
}

.s2{
    background: url(../img/bj.png);
    width: 100%;height: 100%;
}
.s2 h2{
    color:#0ce9bd;
    padding-top: 95px;
    font-size: 30px;
}
.s2 small{
    color:#0ce9bd;
    font-size: 10px;
    letter-spacing:5px;
    font-weight: bold;
}
.s2 h2::before,.s2 h2::after{
    content: "";
    width: 80px;
    height: 20px;   
    display: inline-block;
    position: absolute;
}
.s2 h2::before{
    background: url(../img/14.png);
    margin-left: -95px;
    margin-top: 10px;
    background-size: contain;
}
.s2 h2::after{
    background: url(../img/13.png);
    margin-left: 15px;
    margin-top: 8px;
    background-size: contain;
}
.s2 .text img{
    width: 80%;
    padding-top:22px;
}
.s2 .text p{
    color:#12dfbe;
    font-size:14px;
    float: left;
    position: relative;
    top:-380px;left:50px;
    padding-right:20px;
    padding-left:20px;
    line-height: 26px;
}
.s2 span{
    background: -webkit-linear-gradient(left,#00e8f4,#00fe96);
    border-radius: 30px;
    width: 120px;
    background-size: contain;
    position: absolute;
    top:570px;left:130px;
    font-weight: bold;
    animation: swing infinite;
}

#mp3btn{
    z-index:100;
    position: absolute;
    top: 4%;
    right: 4%;
    width: 30px;
    height: 30px;
    background:; 
    border-radius: 360px;
    line-height: 28px;
    text-align: center;
    border:2px solid #6d6868;
    animation: mp3key 4s;
    /*一直执行*/
    animation-iteration-count: infinite;
    /*匀速执行*/
    animation-timing-function:linear;
    /*默认运行动画*/
    animation-play-state:running;
}
#mp3btn img{
    width: 12px;
    padding-top: 5px;
}
@keyframes mp3key {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.s3{
    background: url(../img/bj.png);
    width: 100%;height: 100%;
}
.s3 h2{
    color:#0ce9bd;
    padding-top: 95px;
    font-size: 30px;
}
.s3 small{
    color:#0ce9bd;
    font-size: 10px;
    letter-spacing:5px;
    font-weight: bold;
}
.s3 h2::before,.s3 h2::after{
    content: "";
    width: 80px;
    height: 20px;   
    display: inline-block;
    position: absolute;
}
.s3 h2::before{
    background: url(../img/14.png);
    margin-left: -95px;
    margin-top: 10px;
    background-size: contain;
}
.s3 h2::after{
    background: url(../img/13.png);
    margin-left: 15px;
    margin-top: 8px;
    background-size: contain;
}

.s3 p{
    color:#00f3cb;
    font-size: 16px;
    border-left:3px solid #00f3cb;
    width:70%;
    position: absolute;
    top:520px;
    left: 60px;
}
.contain div:nth-of-type(1){
    width: 60px;height: 60px;
    border-radius: 360px;
    background: radial-gradient(#001c34,#003b57,#015267,#005f6d);
    position: absolute;
    left: 90px;
    top: 173px;
}
.contain div span:nth-of-type(1){
    text-align: center;
    color:#2bfbb0;
    font-size: 16px;
    line-height: 60px;
}
.contain div:nth-of-type(2){
    width: 60px;height: 60px;
    border-radius: 360px;
    background: radial-gradient(#001c34,#003b57,#015267,#005f6d);
    position: absolute;
    left: 228px;
    top: 173px;
}
.contain div span:nth-of-type(2){
    text-align: center;
    color:#2bfbb0;
    font-size: 16px;
    line-height: 60px;
}
.contain div:nth-of-type(3){
    width: 60px;height: 60px;
    border-radius: 360px;
    background: radial-gradient(#001c34,#003b57,#015267,#005f6d);
    position: absolute;
    left: 298px;
    top: 290px;
}
.contain div span:nth-of-type(3){
    text-align: center;
    color:#2bfbb0;
    font-size: 16px;
    line-height: 60px;
}
.contain div:nth-of-type(4){
    width: 60px;height: 60px;
    border-radius: 360px;
    background: radial-gradient(#001c34,#003b57,#015267,#005f6d);
    left: 228px;top: 409px;
    position: absolute;
}
.contain div span:nth-of-type(4){
    text-align: center;
    color:#2bfbb0;
    font-size: 16px;
    line-height: 60px;
}
.contain div:nth-of-type(5){
    width: 60px;height: 60px;
    border-radius: 360px;
    background: radial-gradient(#001c34,#003b57,#015267,#005f6d);
    position: absolute;
    left: 90px;
    top: 409px;
}
.contain div span:nth-of-type(5){
    text-align: center;
    color:#2bfbb0;
    font-size: 16px;
    line-height: 60px;
    
}
.contain div:nth-of-type(6){
    width: 60px;height: 60px;
    border-radius: 360px;
    background: radial-gradient(#001c34,#003b57,#015267,#005f6d);
    position: absolute;
    left: 20px;
    top: 290px;
}
.contain div span:nth-of-type(6){
    text-align: center;
    color:#2bfbb0;
    font-size: 16px;
    line-height: 60px;
}
.contain div:nth-of-type(7){
    width: 133px;height: 133px;
    border-radius: 360px;
    background: radial-gradient(#001c34,#003b57,#015267,#005f6d);
    position: absolute;
    top:260px;left:120px;
    
}
.contain div span:nth-of-type(7){
    text-align: center;
    color:#2bfbb0;
    font-size: 28px;
    line-height: 133px;
}

.img img:nth-of-type(1){
    width: 100%;height: 70px;
    position: absolute;
    top:640px;
    left:20px;
    animation: shake infinite;
}
.img img:nth-of-type(2){
    width: 100%;height: 70px;
    position: absolute;
    top:640px;
    left:-40px;
    animation: shake infinite;
}










